<style>
element { border: 1px solid black }
#container {
    margin: 50px auto;
    width: 500px;
    border: 1px solid #000;
    padding: 10px;
}
.box {
    width: 150px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    color:white;
    font-weight: bold;
}
<div>
 element { width: 200px; }
.red {
    background: red;
    margin-left: 30px;

}
</div>
.orange{
    background: orange;
    margin-left: 30px;
}

}

.yellow {
    background: yellow;
    margin-left: 30px;
}
.green{
    background: green;
    margin-left: 30px;
}
.blue{
    background: blue;
    margin-left: 30px;
}
.purple{
    background: purple;
    margin-left: 30px;
}

</style>