.fancy-header {
    color: blue;


.underline
    text-decoration: underline;
}



h1 {
    text-align: center;
}
h1, h2, h3{
    text-align: center;
    color: aquamarine;
}

body {
    background-color:rgb(5,18,12);
    background-image: url("../img/newbackg.jpeg");
    background-repeat: no-repeat;
    background-size: 95%;
    background-attachment: fixed;
    opacity: .99;
    color: aquamarine;
}

ol.upper-roman {
                list-style-type: upper-roman;
}

ul {
    list-style-type: circle;
    text-align: center;
    list-style-position: inside;
}

p {
    font-family: 'Joti One', cursive;
}

.centered {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}



