

.box {
    width: 80px;
    height: 80px;
    color: white;

}

.first-box {
    background-color: blue;
    padding-left: 10px;
    padding-top: 10px;

}

.second-box {
    background-color: green;
}


